Django==1.8.17  # rq.filter: >=1.8,<1.9
arrow==0.10.0
django-extensions==1.7.6
django-redis==4.7.0
djangorestframework==3.5.3
lob==2.26
psycopg2==2.6.2
python-dateutil==2.6.0
python-usps2==0.2.0
redis==2.10.5
requests==2.13.0
six==1.10.0
stripe==1.46.0
uszipcode==0.1.3
