{% extends "base.html" %}

{% block title %}shitty birthday cards{% endblock %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <form class="form-horizontal" action="/api/v1/cards/" method="post">
        <h5>Card contents</h5>
        <div class="form-group">
          <label for="whoCard">full name</label>
          <input type="text" class="form-control" id="whoCard" placeholder="Han Solo" />
        </div>
        <div class="form-group">
          <label for="streetCard">street address</label>
          <input type="text" class="form-control" id="streetCard" placeholder="123 Anywhere Dr." />
        </div>
        <div class="form-group">
          <label for="zipCard">zip code</label>
          <input type="text" class="form-control" id="zipCard" placeholder="12345" />
        </div>
        <div class="form-group">
          <label for="messageCard">message</label>
          <textarea rows=3 class="form-control" id="messageCard" placeholder="You aged."></textarea>
        </div>
        <div class="form-group">
          <label for="dateCard">delivery date</label>
          <input type="text" class="form-control" id="dateCard" placeholder="December 3rd" />
        </div>
        <br>
        <h5>Payment info</h5>
        <div class="form-group">
          <label for="paymentName">Cardholder Name</label>
          <input type="text" class="form-control" id="paymentName" placeholder="John Doe"/>
        </div>
        <div class="form-group">
          <label for="paymentNumber">Card Number</label>
          <input type="text" class="form-control" id="paymentNumber" placeholder="1234567890123456"/>
        </div>
        <div class="form-group">
          <label for="paymentSecurityCode">Security Code</label>
          <input type="text" class="form-control" id="paymentSecurityCode" placeholder="123"/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Create Card</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
